{% extends 'base.html.twig' %}

{% block title %} This is the new Title {% endblock %}

{% block body %}
<div>
    {% if messages|length > 0 %}
    {% for message in messages %}
  <div>
        {{ message }}
  </div>
    {% endfor %}
    {% else %}
    <div> Nothing to show </div>
    {% endif %}
</div>
{% endblock %}